
@font-face{
  font-family:'Karla-Regular';
  src: url('/themes/custom/agiledrop/assets/fonts/Karla-Regular.ttf') format('truetype');
}
@font-face{
  font-family:'Karla-Italic';
  src: url('webroot/themes/custom/agiledrop/assets/fonts/Karla-Italic.ttf') format('truetype');
}