// ========================================
//
// @file _layout.scss
// Basic page layouts, widths, margins, paddings
//
// ========================================
body{
  a{
    text-decoration: none;
  }
}

.layout-container{
  margin-left: auto;
  margin-right: auto;
  display: block;
  clear: both;
}

.container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.layout-container-top{
  margin-left: auto;
  margin-right: auto;
  display: block;
  clear: both;
  background-color: $grey-border;
}

.sidebar-first{
  width: 24%;
  display: inline-block;
  //background-color:red;
  float: left;
}
.sidebar-second{
  width: 24%;
  display: inline-block;
  float: right;
  //background-color: purple;
}

.sidebar-one .main-container{
  width: 74%;
  display: inline-block;
  //background-color:yellow;

}

.sidebar-none .main-container{
  width: 100%;
  //background-color:green;
}


/***** Footer *****/

.site-footer__top {
  display: table;
  vertical-align: middle;
  margin: auto;
  color: $black;
  padding-top: 50px;
  padding-bottom: 50px;

  a{
    text-decoration:none;
    color: $black;
  }
  ul{
    list-style-type: none;
  }

 .region-footer-first{
   display: table-cell;
   width: 9%;
 }
 .region-footer-second{
   display: table-cell;
   width: 15%;
 }
 .region-footer-third{
   display: table-cell;
   width: 15%;
   color: $black;

 }
 .region-footer-fourth{
   display: table-cell;
   width: 23%;
 }
 .region-footer-fifth{
   display: table-cell;
   width: 27%;
 }
}

.region-footer-six{
  text-align: center;
  padding: 20px;
  hr{
    width: 1200px;
  }
}