// ========================================
//
// @file _layout.scss
// Basic page layouts, widths, margins, paddings
//
// ========================================

body{
  a{
    text-decoration: none;
  }
  hr{
    color: $grey-border;
  }
  font-family: Karla-Regular;
}
#page-wrapper{
  overflow: hidden;
  clear: both;
}

.layout-container{
  margin-left: auto;
  margin-right: auto;
  display: block;
  clear: both;
}

.container{
  max-width:1200px;
}

.layout-container-grey{
  margin-left: auto;
  margin-right: auto;
  display: block;
  clear: both;
  background-color: $grey-border;

}

.sidebar-first{
  width: 280px;
  display: inline-block;
  //background-color:red;
  float: left;
}
.sidebar-second{
  max-width: 280px;
  display: inline-block;
  float: right;
  //background-color: purple;
}

.sidebar-one .main-container{
  max-width: 900px;
  display: inline-block;
  //background-color:yellow;

}

.sidebar-none .main-container{
  width: 1200px;
  //background-color:green;
}

/******* Banners on pages ********/
.banner-page{
  position: relative;
  .text-owerlay{
    position: absolute;
    left: 20%;
    right: 20%;
    top: 20%;
    color:$white;
  }
}
/*$screen-xs: 420px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;*/
/*** Media Query ***/


@media (max-width: $screen-xs) {
  .sidebar-first{
    width: 100%;
    display: block;
    //background-color:red;
  }
  .sidebar-second{
    width: 100%;
    display: block;
    //background-color: purple;
  }
  .banner-page{
    .text-owerlay{
      top: 10%;
      h1{
        font-size: 1em;
      }
      p{
        font-size: 0.6em;
      }
    }
  }
}



@media (max-width: $screen-sm) and (min-width: $screen-xs) {
  .sidebar-first{
    width: 100%;
    display: block;
    //background-color:red;
  }
  .sidebar-second{
    width: 100%;
    display: block;
    //background-color: purple;
  }
  .banner-page{
    .text-owerlay{
      top: 5%;
      h1{
        font-size: 1.2em;
      }
      p{
        font-size: 0.8em;
      }
    }
  }



}
@media (max-width: $screen-md) and (min-width: $screen-sm) {

  .banner-page {
    .text-owerlay {
      top: 10%;
      h1 {
        font-size: 1.4em;
      }
      p {
        font-size: 1.2em;
      }
    }
  }


}

