// ========================================
//
// @file _footer.scss
// Footer element on the page
//
// ========================================

/***** Footer *****/

.site-footer__top {
  display: table;
  vertical-align: middle;
  margin: auto;
  color: $black;
  padding-top: 50px;
  padding-bottom: 50px;

  a{
    text-decoration:none;
    color: $black;

  }
  ul{
    list-style-type: none;
  }

  .region-footer-first{
    display: table-cell;
    width:195px;
    padding-left: 50px;
  }
  .region-footer-second{
    display: table-cell;
    width: 195px;
  }
  .region-footer-third{
    display: table-cell;
    width: 195px;
    color: $black;
  }
  .region-footer-fourth{
    display: table-cell;
    width: 285px;
  }
  .region-footer-fifth{
    display: table-cell;
    width: 305px;
    padding-right: 50px;
  }
}

.region-footer-six{
  text-align: center;
  padding: 20px;
  position: relative;
  hr{
    max-width: 1200px;
    color: $grey-border;
  }
  img{
    width:350px;
  }
  .f1{
    position: absolute;
    top: -212px;
    left: 0;
    z-index: -5;

  }
  .f2{
    position: absolute;
    bottom:-2px;
    right:0;
    z-index: 10;

  }

}



/************* Media Queries *****************/

@media (max-width: $screen-xs){
  .site-footer__top {
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;


    .region-footer-first{
      display: block;
      padding-left: 0;
      margin-left: 10%;
    }
    .region-footer-second{
      display: table-cell;
      max-width: 200px;
      a{
        font-size: 20px;
      }
      h4{
        margin-left: 8%;
      }
    }
    .region-footer-third{
      display: table-cell;
      max-width: 200px;
      a{
        font-size: 20px;
      }
    }
    .region-footer-fourth{
      display: block;
      margin: auto;
    }
    .region-footer-fifth{
      display: block;
      margin: auto;
      p{
        font-size: 20px;
      }
    }
  }
  .region-footer-six{
    .f1{
     display: none;

    }
    .f2{
     display: none;

    }
  }

}



@media (max-width: $screen-sm) and (min-width: $screen-xs)  {

  .site-footer__top {
     text-align: center;
    .region-footer-first {
      display: inline-block;
      max-width: 50px;
      padding-left: 0;
      //padding-left:5%;
      text-align: right;
    }
    .region-footer-second {
      display: inline-block;
      max-width: 250px;
      text-align: left;
    }
    .region-footer-third {
      display: inline-block;
      max-width: 250px;
      text-align: left;
    }
    .region-footer-fourth {
      display: inline-block;
      max-width: 250px;
      text-align: left;
    }
    .region-footer-fifth {
      display: block;
      max-width: 760px;
      padding-right: 0;
      margin: auto;
      text-align:left ;

      h4{
        text-align:center ;
      }

      input{
        padding:10px 25px;
      }
    }
  }
  .region-footer-six{
    img{
      width:250px;
    }
    .f1{
      position: absolute;
      top: -143px;
      left: 0;
      z-index: -5;

    }
  }
}



@media (max-width: $screen-md) and (min-width: $screen-sm) {

}