// ========================================
//
// @file _header.scss
// Header element on the page
//
// ========================================

/*******  HEADER  ********/

.region-top-block{
  display: block;
  .onboard{
    display:inline-block;
    float: left;
  }
  .phone{
    display:inline-block;
    float: right;
    margin-right: 20px;
  }
  .mail{
    display:inline-block;
    float: right;
  }
}