// ========================================
//
// @file _header.scss
// Header element on the page
//
// ========================================

/*******  HEADER  ********/

.region-top-block{
  display: block;
  .onboard{
    display:inline-block;
    float: left;
  }
  .phone{
    display:inline-block;
    float: right;
    margin-right: 20px;
  }
  .mail{
    display:inline-block;
    float: right;
  }
}

/*******  HEADER  SLIDER********/
.banner{
  position:relative;
  text-align: center;
  .slick-dots{
    bottom: 5%;
    .button{
      border: 1px $white;
      background-color: none;
    }
  }
  .caption{
    color: $white;
    position: absolute;
    vertical-align: middle;
    top: 190px;
    left:5%;
    right: 5%;
  }
}