// ========================================
//
// @file _navigation.scss
// All the navigation elements on the page
//
// ========================================

/********** MAIN MENU ***********/
.cover{
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
  z-index:5;
  width:100%;
  height:100%;
  display:none;
}

#cover{
  display:block;
  opacity:2;
}

.grey-nav{
  background-color: $grey;
}

/******** Primary menu *********/
.region-primary-menu{
    text-align: center;

    ul{
      display: block;
    }
    li{
      display: inline-block;
      margin-top: 0.9em;
      margin-bottom: 0.9em;
    }
    a{
      text-decoration: none;
    }

  //site logo
  .block-system-branding-block{
    display: inline-block;
    float: left;
  }

  //main-menu
  .menu--main{
    display: inline-block;
    text-align: center;
    .menu-item{
      margin-left: 40px;
    }
    .menu-item:first-child{
      margin-left: 0;
    }
    a{
      color: $grey;
      font-size: 20px;
    }
    a:hover, a:active{
      color: $black;
    }
  }

  //login menu
  .menu--account{
    display: inline-block;
    float: right;
    .menu-item{
      margin-left: 25px;
      a{
        @include button-blue;
      }
      a:hover, a:active{
        @include button-hover;
      }
    }
    .menu-item:first-child{
      margin-left: 0;
    }

  }

}
.top-menu{
  display: none;
}
.login{
  display: none;
}


@media (max-width: $screen-xs){ //** 420px

  .region-primary-menu {
    .block-system-branding-block{
      display: none;
      float: none;
    }
    .menu--main {
      display: none;
    }
    //login menu
    .menu--account{
      display: none;

    }
  }
  /*** Top menu responsive icon ***/
  .top-menu{
    display: block;
    text-align: center;
    height: 60px;
    background-color:lightslategrey;
    border-bottom:2px solid $orange;
  }
  .logo-responsive{
    display:block;
    float: left;
    margin-left: 10px;
    margin-top:10px;
  }
  .toggle-nav{
    display: block;
    color: $blue;
    font-weight: bold;
    font-size:32px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
  }
  .toggle-nav:hover ,.toggle-nav:active{
    color: $orange;
  }

  /*** Mobile style ***/
  .menu--main.style-mobile{

    ul{
      width: 100%;
      display: block;
      margin: auto;
      text-align: center;
    }
    .menu-item{
      display: block;
      margin: auto;
      border-bottom: 1px solid $orange;
      background-color: lightslategrey;
      padding: 10px;
      a{
        font-weight: bold;
        color: $blue;
        transition-property: color;
        font-size: 24px;
        transition-duration: .5s;
      }
    }
    .menu-item:hover, .menu-item:active{
      a{
        color:$orange;
      }
    }

  }
}
