// ========================================
//
// @file _navigation.scss
// All the navigation elements on the page
//
// ========================================

/********** MAIN MENU ***********/

.region-primary-menu{
    text-align: center;
    padding: 10px;

    ul{
      display: block;
    }
    li{
      display: inline-block;
    }
    a{
      text-decoration: none;
    }

  //site logo
  .block-system-branding-block{
    display: inline-block;
    float: left;
  }

  //main-menu
  .menu--main{
    display: inline-block;
    text-align: center;
    .menu-item{
      margin-left: 40px;
    }
    .menu-item:first-child{
      margin-left: 0;
    }
    a{
      color: $grey;
      font-size: 20px;
    }
    a:hover, a:active{
      color: $black;
    }
  }

  //login menu
  .menu--account{
    display: inline-block;
    float: right;
    .menu-item{
      margin-left: 25px;
      a{
        @include button-blue;
      }
      a:hover, a:active{
        @include button-hover;
      }
    }
    .menu-item:first-child{
      margin-left: 0;
    }

  }
}
