.node--type-companies.node--view-mode-full{
  //max-width: 840px;
  .field--name-field-company-logo{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .field--name-body{
    margin-bottom: 50px;
  }

}


/**** Field informations company ****/
.field--name-field-company-taxsonomy{
  @include field;

  a{
    @include link;
  }

  &::before {
    content: "\f000";
    font-family: FontAwesome;
    @include pseudoPos;
  }

}

.field--name-field-company-website{
  @include field;

  a{
    @include link;
  }

  &::before {
    content: "\f000";
    font-family: FontAwesome;
    @include pseudoPos;
  }
  margin-left: 7%;
}

.field--name-field-company-telephone{
  @include field;

  a{
    @include link;
  }
  &::before {
    content: "\f000";
    font-family: FontAwesome;
    @include pseudoPos;
  }
}

.field--name-field-company-email{
  @include field;

  a{
    @include link;
  }

  &::before {
    content: "\f000";
    font-family: FontAwesome;
    @include pseudoPos;
  }
  margin-left: 7%;
}

/**** behavior of information blocks when are hover ****/

.field--name-field-company-taxsonomy:hover,
.field--name-field-company-website:hover,
.field--name-field-company-telephone:hover,
.field--name-field-company-email:hover{
  border: 3px solid $orange;
  color: $orange;
  a{
    color: $orange;
    border-left: 3px solid $orange;
  }
}


/**** Company map ****/
.field--name-field-company-map {
  @include map;
}


/***** Events sidebar ********/
.block-views-blocksidebar-events-companies-page-block-1{
  h2::after{
    content: "WHAT WE ARE UP TO";
    @include rem('font-size', 18px);
    display: block;
    margin-bottom: 30px;
  }

  .views-row{
    margin-bottom: 40px;
  }

  .views-field-title{
    color:$black;
    margin-bottom: 15px;
    a{
      padding-left: 20px;
      color: $black;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 18px;
    }
    &::before{
      content:"";
      border-left: 3px solid $blue;

    }
  }
  .views-field-field-event-start-date{
    color: $red;
    margin-bottom: 15px;
    display: block;
    padding-left: 20px;
    font-weight: bold;
    font-size: 16px;
  }
}

