
/******* Companies list ********/
.companies-teaser{
  owerflow: hidden;
}

.companies-row{
  padding-top: 20px;
  padding-bottom: 50px;
  border-bottom: 2px solid $grey-border;
  overflow: hidden;
  clear: both;
   .views-field-title{
     text-decoration: none;
     color: $black;
     font-size: 22px;
     &::before{
       content:"";
       border-left: 3px solid $blue;
       padding-left: 10px;
     }
     a{
       color: $black;
       font-size: 22px;
     }
   }

  .company-logo{
    width:20%;
    display: inline-block;
    float: left;
  }
  .company-body{
    width: 80%;
    display: inline-block;

  }
  .button-read{
    margin-top: 20px;
    float: left;
    a{
      @include button-blue;
    }
    a:hover, a:active{
      @include button-hover;
    }
  }
}

.companies-row:hover{
  .a{
   @include button-hover;
  }
  .views-field-title::before{
    border-left: 3px solid $orange;
  }
}
.companies-row:last-child{
  border-bottom: none;
}





@media (max-width: $screen-sm) and (min-width: 320px) {
  //** Company view
  .view-companies{
    width: 90%;
    overflow: hidden;
  }
  //** Company item
  .companies-row{
    overflow: hidden;
    vertical-align: top;
    width: 85%;
    margin-left: 10px;
    display: block;

    .views-field-title{
      //display: block;
     // width:100%;
      a{
        color: $responsive-blue;
        font-weight: bold;
      }
      a:hover{
        color: $orange;
      }
      &::before{
        display: none;
      }
    }

    .company-logo{
      float: left;
    }
    .company-body{
      width: 90%;
      text-align: justify;

    }

      .views-field-view-node{
        margin-top: 20px;
        float: none;
        width:100%;
        margin: 0 auto;
        text-align: center;
        .button-read{
          a{
            @include responsive-blue;
          }
          a:hover, a:active{
            @include button-hover;
          }
        }
      }

  }

}


@media (max-width: $screen-lg) and (min-width:$screen-sm) {
  //** Company view
  .view-companies{
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
  }
  //** Company item
  .companies-row{
    overflow: hidden;
    vertical-align: top;
    width: 90%;
    display: block;
    .views-field-title{
      display: block;
      width:90%;
      a{
        color: $black;
      }
      a:hover{
        color: $orange;
      }
      &::before{
        display: none;
      }
    }

    .company-logo{
      float: left;
    }
    .company-body{
      width: 90%;
      text-align: justify;

    }

    .views-field-view-node{
      margin-top: 20px;
      float: none;
      width:100%;
      margin: 0 auto;
      text-align: center;
      .button-read{
        a{
          @include button-blue;
        }
        a:hover, a:active{
          @include button-hover;
        }
      }
    }

  }

}






