
.events-teaser{
   // padding-bottom: 80px;
  .view-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .events-row{
    max-width: 360px;
    background: $grey;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    //margin:  auto;
  }
  .event-image-teaser{
    margin: auto;

  }
  .events-row:nth-child(2){
    .views-field-field-event-image{
      order:2;
    }
  }
  .events-row:nth-child(5) {
    .views-field-field-event-image {
        order:2;
      }
  }

  .views-field-field-event-start-date{
    width: 100%;
    margin-top: 20px;
    font-size: 38px;
  }
  .views-field-field-event-end-date{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
  }
  .views-field-body{
    margin: 8%;
  }
  .views-field-title{
    margin-top: 10px;

    a{
      color: $white;
      font-size: 20px;
    }
  }

  .button-read{
    a{
      @include button-blue;

    }
    a:hover{
      @include button-hover;
    }
  }
  .views-field-view-node{
    margin-bottom:20px;
  }
}


/************* Media Queries *****************/

@media (max-width: $screen-xs) and (min-width: 320px) {
  .events-teaser {
    // padding-bottom: 80px;
    .view-content {
      max-width: 320px;
    }
    .events-row {
      width: 95%;
      background: $grey;
      display: block;
      text-align: center;
      margin: auto;
      margin-bottom: 20px;

    }
    .views-field-view-node{
      padding-bottom:40px;
      margin-bottom: 0;
    }

  }

}

@media (max-width: $screen-sm) and (min-width: $screen-xs) {
  .events-teaser {
    .view-content {
      text-align: center;
    }
    .events-row {
      max-width: 720px;
      background: $grey;
      display: block;
      text-align: center;
      overflow: hidden;
      margin-bottom: 20px;
    }
    .event-image-teaser{
      //margin:;
      float: left;
      display: block;
    }

    .views-field-field-event-start-date{
      display: inline-block;
      width: 50%;

    }
    .views-field-field-event-end-date{
      display: inline-block;
      width: 50%;
    }
    .views-field-body{
      margin: 0;
      display: inline-block;
      width: 50%;
    }
    .views-field-title{
      display: inline-block;
      width: 50%;
    }
    .button-read{
      display: inline-block;
      width: 50%;
    }

    .views-field-view-node{
      margin-top:40px;
    }
  }
}


@media (max-width: $screen-md) and (min-width: $screen-sm){
  .events-teaser {

    .view-content {
      display: block;
      text-align: center;
    }
    .events-row {
      max-width: 780px;
      display: block;
      background: $grey;
      text-align: center;
      overflow: hidden;
      margin-bottom: 20px;
    }
    .event-image-teaser{
      //margin:;
      float: left;
      display: block;
    }

    .views-field-field-event-start-date{
      display: inline-block;
      width: 50%;

    }
    .views-field-field-event-end-date{
      display: inline-block;
      width: 50%;
    }
    .views-field-body{
      margin: 0;
      display: inline-block;
      width: 50%;
    }
    .views-field-title{
      display: inline-block;
      width: 50%;
    }
    .button-read{
      display: inline-block;
      width: 50%;
    }

    .views-field-view-node{
      margin-top:40px;
    }
  }
}

@media (max-width: $screen-lg) and (min-width: $screen-md){
  .events-teaser {
    padding-left:10%;

    .view-content {
     // text-align: center;
    }
    .events-row {
      background: $grey;
      max-width: 780px;
      display: block;
      margin-bottom: 20px;
    }
    .event-image-teaser{
      //margin:;
      float: left;
      display: block;
    }

    .views-field-field-event-start-date{
      display: inline-block;
      width: 50%;

    }
    .views-field-field-event-end-date{
      display: inline-block;
      width: 50%;
    }
    .views-field-body{
      margin: 0;
      display: inline-block;
      width: 50%;
    }
    .views-field-title{
      display: inline-block;
      width: 50%;
    }
    .button-read{
      display: inline-block;
      width: 50%;
    }

    .views-field-view-node{
      margin-top:40px;
    }
  }
}
