
/********* Home inntro block ********/
.home-intro{
  display:inline-block;
  max-width:780px;
  float: left;
  a{
    color: $black;
    font-weight: bold;
    font-size: 1.5em;
  }
}

/********* Sidebar home  ************/
.sidebar-info{
  display: inline-block;
  max-width: 390px;
  float: right;
  .node--view-mode-teaser{
    display: block;
  }
  .views-row{
    max-width: 390px;
  }
  .field--name-title{
    display: inline-block;
    width: 80%;
    float: right;
    font-size: 0.7em;
  }
  .field--name-field-item-image{
    display: inline-block;
    float: left;
  }
  .field--name-body{
    display: inline-block;
    width: 80%;
    float: right;
    margin-bottom: 20px;
  }
}

/******** Latest events home-page *********/
.region-featured-bottom-first{
  padding-top: 80px;
  padding-bottom: 120px;
  h2::after{
    content: "FIND YOURS";
    margin-top: 5px;
    @include rem('font-size', 16px);
    display: block;

  }
}
.latest-events{

  .latest-event-item{
    display: inline-block;
    max-width: 270px;
    margin-left: 2%;
    padding-bottom: 3%;
    background-color:$white;
    text-align: center;
    box-shadow: -5px 7px 4px -3px rgba(0,0,0,0.75);
  }
  .latest-event-item:first-child{
    margin-left: 0;
    @media (max-width: $screen-xs) and (max-width: $screen-sm) {
      margin: auto;
      margin-bottom: 20px;
    }
  }

  .latest-event-title{
    a{
      color: $black;
      font-size: 18px;
      font-weight: bold;
    }
  }
  .latest-event-stdate{
    color: $red;
    font-size: 16px;
    margin: 3%;
  }
}

/********* Featured companies **********/
.region-featured-bottom-second{
  padding-top: 80px;
  padding-bottom: 120px;

    h2::after{
      content: "FIND YOUR COMPANY";
      margin-top:5px;
      @include rem('font-size', 16px);
      display: block;

    }
}
.companies-home-row{
  display: inline-block;
  max-width: 385px;
  margin-bottom: 3%;

  .companies-home-logo{
    float: left;
    display: inline-block;
  }
  .companies-home-title{
    display: inline-block;
    float: right;
    width: 65%;
    a{
      color: $black;
      font-weight: bold;
      @include rem('font-size', 18px);

    }
  }
  .companies-home-body{
    display: inline-block;
    float: right;
    width: 65%;
    text-align: left;
  }
}

/***** Custum block with button link *****/
.block-block-content3d674abc-ec60-4786-93eb-8f628e0c6463{
  text-align: center;
  padding-top: 50px;
  position: relative;

  a{
    @include button-blue;
  }
  a:hover, a:active{
    @include button-hover;
  }
}
.t1{
  position: absolute;
  right: 100px;
  bottom: -120px;
  z-index: 1;
}
.t2{
  position: absolute;
  bottom: -120px;
  right: 0;
}

/***** Custum block Free service *****/
.region-featured-bottom-third{
  text-align: center;
  border-top: 1px solid $grey-border;
  border-bottom: 1px solid $grey-border;

  .h1{
    @include rem('font-size', 36px);
  }

  .free-service{
    padding-top: 50px;
    padding-bottom: 80px;
  }
  a{
    @include button-blue;
  }
  a:hover, a:active{
    @include button-hover;
  }
  .buttons{
    padding-top:40px;

    .btn-sign{
      margin-right: 10px;
    }
    .btn-contact{
      margin-left: 10px;
    }
  }

}




/**** Media Queries ****/


@media (max-width: $screen-xs) { //** 420px

  //** Home inntro block
  .home-intro{
    display:block;
    a{
      color: $black;
      font-weight: bold;
      font-size: 1.5em;
    }
  }

  //** Sidebar home
  .sidebar-info{
    display: block;
  }

  //** Featured companies
  .region-featured-bottom-second{
    padding-top: 50px;
    padding-bottom: 80px;
  }

  //** Latest events home
  .latest-events {

    .latest-event-item {
      display: block;
      max-width: 270px;
      margin: auto;
      margin-bottom: 20px;
    }
  }
  /***** Custum block with button link *****/
  .t1{
    display: none;
  }
  .t2{
    display: none;
  }

  //end media
}



@media (max-width: $screen-sm) and (min-width: $screen-xs) { //** 768px
  //** Home inntro block
  .home-intro{
    display:block;
    padding-left: 12%;
    padding-right: 12%;
    a{
      color: $black;
      font-weight: bold;
      font-size: 1.5em;
    }
  }
  //** Sidebar info home
  .sidebar-info{
    display: block;
    float: left;
    padding-left: 12%;
    max-width: 500px;
  }
  //** Latest events home-page
  .region-featured-bottom-first{
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 12%;
    .latest-event-item{
      margin-left: 0;
    }
  }
  //**Featured companies
  .region-featured-bottom-second{
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 12%;
    overflow: hidden;
  }

  .companies-home-row {
    display: inline-block;
    max-width: 300px;
    margin-bottom: 3%;

    .companies-home-logo {
      float: none;
      display: block;
    }
    .companies-home-title {
      display: block;
      float: none;
      a {
        color: $black;
        font-weight: bold;
        @include rem('font-size', 18px);

      }
    }
    .companies-home-body {
      display: block;
      float: none;
      width:80%;
    }
  }

  //** Custum block with button link
  .block-block-content3d674abc-ec60-4786-93eb-8f628e0c6463{
   text-align: center;

  }


  //** Custum block Free service
  .region-featured-bottom-third {

    .free-service {
      padding-top: 50px;
      padding-bottom: 80px;
      padding-left: 12%;
      padding-right: 12%;
    }
  }

}







@media (max-width: $screen-md) {

}