.field--name-field-location-image{
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}


/**** Information block fields ****/
.field--name-field-location-phone-number{
  @include field-location;

  a{
    @include link;
  }

  &::before {
    content: "\f000";
    font-family: FontAwesome;
    @include pseudoPos;
  }
}

.field--name-field-location-website{
  @include field-location;

  a{
    @include link;
  }

  &::before {
    content: "\f000";
    font-family: FontAwesome;
    @include pseudoPos;
  }
}
.field--name-field-location-email{
  @include field-location;

  a{
    @include link;
  }

  &::before {
    content: "\f000";
    font-family: FontAwesome;
    @include pseudoPos;
  }
}


/**** Behavior when field is hover ****/
.field--name-field-location-phone-number:hover,
.field--name-field-location-email:hover,
.field--name-field-location-website:hover{
  border: 3px solid $orange;
  color: $orange;
  a{
    color: $orange;
    border-left: 3px solid $orange;
  }
}

.field--name-field-location-taxonomy{
  display:inline-block;
  float: right;
  width: 400px;
  .field__label{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .field__item{
    display: inline-block;
    padding: 8px;
    background-color:$blue;
    margin-bottom: 20px;
    margin-left: 15px;
    a{
      color:$white;
      font-size: 16px;
      font-weight: bold;
    }
  }
  .field__item:nth-child(3n+1){
    margin-left: 0px;
  }
}

/**** Location map ****/
.field--name-field-location-map{
  @include map;
}


/**** Locations events sidebar ****/

.block-views-blockupcoming-events-location-page-block-1{
  h2::after{
    content: "WHAT WE ARE UP TO";
    @include rem('font-size', 18px);
    display: block;
    margin-bottom: 30px;
  }

  .views-row{
    margin-bottom: 40px;
  }

  .views-field-title{
    color:$black;
    margin-bottom: 15px;
    a{
      padding-left: 20px;
      color: $black;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 18px;
    }
    &::before{
      content:"";
      border-left: 3px solid $blue;

    }
  }
  .views-field-field-event-start-date{
    color: $red;
    margin-bottom: 15px;
    display: block;
    padding-left: 20px;
    font-weight: bold;
    font-size: 16px;
  }
}





/************* Media Queries *****************/

@media (max-width: $screen-xs) and (min-width: 320px) {
  .node--type-locations.node--view-mode-full{
    max-width: 80%;
    margin: 0 auto;


    .field--name-body{
      max-width:100%;
      margin-bottom: 20px;
    }
  }
  //**Sidebar view
  .block-views-blockupcoming-events-location-page-block-1{
    max-width: 80%;
    margin: 0 auto;
    .views-row{

    }
  }


  //** Location image
  .field--name-field-location-image{
    float: none;
    margin-right: auto;
    width: 100%;
    margin-bottom: 30px;
  }

  //** Gmap
  .field--name-field-location-map {
    max-width: 320px;

    p {
      display:block;
      width: 80%;
      padding-left: 0;
      border-left: none;
      // vertical-align: top;
    }
    &::before {
      display: none;
    }
    iframe {
      display:block;
      float: none;
    }
  }

  //** Equipment
  .field--name-field-location-taxonomy{
    display:block;
    float: none;
    width: 100%;
  }

  //** Blocks with info
  .field--name-field-location-phone-number,
  .field--name-field-location-website,
  .field--name-field-location-email {
    max-width:300px;
  }
}



@media (max-width: $screen-sm) and (min-width: $screen-xs) { //768px
  //** Equipment
  .field--name-field-location-taxonomy{
    display:block;
    float: none;
    width: 60%;
  }

  //** Sidebar event
  .block-views-blockupcoming-events-location-page-block-1 {
    .views-row {
      display: inline-block;
      margin: auto;
    }
  }

  //** G-map
  .field--name-field-location-map{
    max-width: 80%;

    p {
      display:block;
      width: 100%;
      padding-left: 0;
      border-left: none;
    }
    &::before {
      display: none;
    }
    iframe {
      display:block;
      float: none;
    }
  }

}
@media (max-width: $screen-md) and (min-width: $screen-sm){ //992px
  //** Equipment
  .field--name-field-location-taxonomy{
    display:block;
    float: none;
    width: 400px;
  }

  //** Sidebar event
  .block-views-blockupcoming-events-location-page-block-1 {
    .views-row {
      display: inline-block;
      margin: auto;
    }
  }


}
