.location-teaser::before{
  content: "FIND YOUR OWN";
  @include rem('font-size', 18px);
}
.location-teaser{
  .view-content{
    display:block;
  }
  .locations-row{
    background-color: $grey-border;
    vertical-align: top;
    display: inline-block;
    max-width: 270px;
    margin-left:2.5%;
    float: left;
    margin-bottom:2.5%;


    .views-field-field-title-bottom{
      margin-top:10px;
      margin-left: 20px;
      color: $red;
    }
    .views-field-title{
      margin-top: 20px;
      margin-left: 20px;
    }

    a{
      color:$black;
      font-weight: bold;
    }
  }
  .locations-row:nth-child(4n+1){
    margin-left:0;
    @media (max-width: $screen-xs) { //420px
      margin-left: 2.5%;
    }
    @media (max-width: $screen-sm) and (min-width: $screen-xs) { //420px
      margin-left: 2.5%;
    }
  }
  }




/************* Media Queries *****************/


@media (min-width: 320px) and (max-width: $screen-sm){ //420px
  .view-content {
    display: block;

    .location-teaser {
      max-width: $screen-sm;
      .views-row {
        //margin: auto;
      }
      .locations-row {
        display:block;

        float: none;
        margin: auto;
      }

    }
  }
}

@media (max-width: $screen-sm) and (min-width: $screen-xs) {  //768px

  .location-teaser{
    //padding-left: 10%;
    max-width:$screen-sm ;
    .locations-row{
      background-color: $grey-border;
      display: inline-block;
      max-width: 100%;
      margin-left:2.5%;
      float: left;
      margin-bottom:0;
    }

  }
}

@media (max-width: $screen-md) and (min-width: $screen-sm){   //992px
  .location-teaser{
   // padding-left: 10%;
    width: 100%;
    .locations-row{
      //background-color: $grey-border;
      //display: inline-block;
      max-width: 23%;
      //margin-left:2.5%;
     // float: left;
     // margin-bottom:2.5%;

    }

  }
}
@media (max-width: $screen-lg) and (min-width: $screen-sm){   //1200px
  .location-teaser{
   // padding-left: 10%;
    width:100%;
    .locations-row{
      //background-color: $grey-border;
      //display: inline-block;
      max-width: 23%;
      //margin-left:2.5%;
      // float: left;
      // margin-bottom:2.5%;

    }

  }
}


